body {
    text-align: center;
}

.HelpdeskContainer {
    display: inline-block;
}

div.HelpdeskForm {
    text-align: center;
    display: inline-block;
    width: 250px;
    margin: auto;
    vertical-align: top;
}

form {
    display: block;
}

input, select, label, textarea, p {
    resize: none;
    margin-left: 40px;
    text-align: left;

    display: block;
}

.status {
    color: red;
}